@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;

.main {
  position: relative;
  @include mx.flexCenter;
  flex-direction: column;
  background: red;
  background: v.$lightGray;
  text-align: center;
  margin-block-start: 17rem;

  .return {
    background: #fff;
    text-align: left;
    padding-block: v.$smPad v.$mdPad;
    border-radius: v.$smallRadius;
    margin-block-end: v.$mdPad;

    &:first-of-type {
      margin-block-start: 10rem;
    }

    &-url {
      color: v.$veryDarkBlue;
      padding-block: v.$smPad;
      border-bottom: 1px solid v.$borderGray;
      
      &-display {
        width: 100%;
        padding-inline: v.$mdPad;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    
    &-shorten {
      color: v.$cyan;
      padding-block-start: v.$smPad;
      padding-inline-start: v.$mdPad;
    }

    &-btn-ctnr {
      width: 90%;
      margin-inline: auto;
    }
  }
  
  .info {
    margin-block-start: 14rem;
    position: inherit;

    &-header {
      font-size: 1.6rem;
    }

    .info-card-ctnr {
      margin-block: 10rem;

      .bg-line {
        position: absolute;
        bottom: 28%;
        left: 50%;
        transform: translateX(-50%);
        height: 50rem;
        width: 1rem;
        background: v.$cyan;
      }
    }

    &-card {
      position: relative;
      background: #fff;
      border-radius: v.$smallRadius;
      padding-block: 7.5rem v.$lgPad;
      padding-inline: v.$mdPad;
      z-index: 1;

      &:nth-child(even) {
        margin-block: 10rem;
      }

      .circle {
        position: absolute;
        top: -4.5rem;
        left: 50%;
        width: 9rem;
        height: 9rem;
        transform: translateX(-50%);
        background: v.$darkViolet;
        border-radius: 50%;

        img {
          position: absolute;
          inset: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-content {
        font-size: 1.6rem;

        h3 {
          padding-block-end: v.$mdPad;
        }
      }
    }
  }

  .cta {
    background: v.$darkViolet 
    url('../images/bg-boost-mobile.svg') 
    no-repeat 
    top;
    width: 100%;
    padding-block: 9.4rem;

    .title {
      color: mx.setTextColor(v.$darkViolet);
    }
  }
}