@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;

.header {
  text-align: center;
  overflow: hidden;

  &-img-ctnr {
    height: 340px;
    padding-block-end: v.$lgPad;
    
    img {
      height: 100%;
    }
  }

  &-content {
    .title {
      line-height: 1.2;
    }

    p {
      padding-block: v.$mdPad v.$lgPad;
      line-height: 1.8;
    }
  }
}