@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;

.nav-bar {
  @include mx.flexSpaceBetween;
  padding-block: v.$mdPad v.$smPad;
  position: relative;

  &-menu {
    display: none;
    position: absolute;
    inset: 8rem auto 0;
    width: 100%;
    height: 34rem;
    padding-inline: v.$lgPad;
    background: v.$darkViolet;
    border-radius: v.$smallRadius;

    &.show {
      display: block;
    }
    
    .nav-items, .login-items {
      @include mx.flexCenter;
      flex-direction: column;
      padding-block: v.$smPad;

      a:not(.btn-pill) {
        padding-block: 1.5rem;
      }
    }

    .nav-items {
      a:hover {
        color: v.$veryDarkBlue;
      }
    }

    .login-items {
      a:not(:last-child):hover {
        color: v.$veryDarkBlue;
      }
    }

    .nav-items {
      border-bottom: 1px v.$borderGray solid;
    }
  }

  .nav-btn-ctnr {
    font-size: 3rem;
  }
}