@use '../abstract/mixins' as mx;

// iPad
@include mx.mq(810px) {
  .container {
    width: 80%;
  }
  .form {
    background-image: url('../images/bg-shorten-desktop.svg');
  }
  .main .cta {
    background-image: url('../images/bg-boost-desktop.svg');
    padding-block: 6.9rem;
  }
}

// Navigation iPad Pro
@include mx.mq(1000px) {
  // NavBar
  .nav-bar {
    &-menu {
      display: block;
      position: initial;
      display: flex;
      justify-content: space-between;
      height: auto;
      background: transparent;
      padding: 0;
      border-radius: 0;
      margin-block-start: -1rem;

      .nav-items, .login-items {
        flex-direction: row;

        a:not(.btn-pill) {
          padding-inline-start: 4rem;
        }

        .btn-pill {
          padding-inline: 2rem;
          margin-inline-start: 4rem;
        }
      }

      .nav-items {
        border-bottom: none;
      }
    
      a:not(.btn-pill) {
        color: mx.setTextColor(#fff);
      }
    }

    .nav-btn-ctnr {
      display: none;
    }
  }

  // Container 
 

  // Header
  .header-content {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    margin-block-start: 5rem;

    &-img-ctnr {
      transform: translateX(8rem);
    }

    &-info {
      .title {
        font-size: 4rem;
        padding-block-end: 0;
      }

      p {
        padding-block-start: 0;
        line-height: 1.5;
      }
    }
  }
}