@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;

.btn {
  display: inline-block;
  text-align: center;
  font-size: inherit;
  font-weight: 700;
  background: v.$cyan;
  color: mx.setTextColor(v.$cyan);
  border: none;
  width: 100%;
  cursor: pointer;

  &-menu {
    background: transparent;
    color: v.$grayishViolet;
  }

  &-pill {
    border-radius: v.$pillRadius;
    padding-block: v.$smPad;
  }

  &-square {
    border-radius: v.$verySmallRadius;
    padding-block: v.$smPad;
    margin-block-start: 2rem;
  }

  &:active {
    background: v.$darkViolet;
    color: mx.setTextColor(v.$darkViolet);
  }

  &-cta {
    width: 60%;
  }
}