// Colors
$cyan: hsl(180, 66%, 49%);
$cyanLight: hsl(180, 68%, 70%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 57%);
$lightGray: hsl(250, 5%, 94%);
$gray: hsl(0, 0%, 75%);
$borderGray: hsla(0, 0%, 75%, .3);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);

// Topography
$font-size: 18px;
$font-family: 'Poppins', sans-serif;

// Radii
$verySmallRadius: .5rem;
$smallRadius: 1.5rem;
$pillRadius: 5rem;

// Padding & Margins
$smPad: 1.2rem;
$mdPad: 2.2rem;
$lgPad: 3rem;